In [3]:
import pandas as pd
vendas_df = pd.read_excel("../Exercicio02/Vendas.xlsx")
dados_ordenados_df = vendas_df.sort_values("Produto")
dados_ordenados_df.to_csv("dados_ordenados_df.csv", index=False)
display(dados_ordenados_df)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final
30,23,2019-01-02,Center Shopping Uberlândia,Bermuda Estampa,3,169,507
51,40,2019-01-02,Shopping Eldorado,Bermuda Linho,1,195,195
57,43,2019-01-02,Shopping Eldorado,Calça,1,170,170
6,5,2019-01-02,Shopping Barra,Calça,1,170,170
58,44,2019-01-02,Shopping Ibirapuera,Calça,2,170,340
...,...,...,...,...,...,...,...
19,12,2019-01-02,Shopping Midway Mall,Sunga Liso,2,114,228
10,8,2019-01-02,Iguatemi Campinas,Terno Estampa,5,706,3530
34,27,2019-01-02,Rio Mar Shopping Fortaleza,Terno Listrado,2,709,1418
67,49,2019-01-02,Iguatemi Esplanada,Terno Xadrez,3,709,2127
11,9,2019-01-02,Shopping Center Leste Aricanduva,Tênis Linho,1,294,294